body {
    background-color: black;
    color: white;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

code {
    background-color: #000000; /* Change to your desired background color */
    color: #ffffff; /* Change to your desired text color */
    padding: 2px 4px;
    border-radius: 4px;
}

pre code {
    background-color: #000000; /* Change to your desired background color */
    color: #ffffff; /* Change to your desired text color */
    display: block;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}